#webform-submission-califica-tu-experiencia-add-form{ 

  .edit-link-politica a {
    color: #ec333b;
  }

  @media screen and (max-width: 600px){
    #qrcode{
      text-align: center;
    } 
  }
}

.edit-link-politica-1 a {
  color: #ec333b;
}

.edit-link-politica-1 a:hover {
  color: #b41a22;
}