.section-kokoripesos{
  .field-name-body{
    margin: 40px 0;
  }
}
#cuenta{
  .user-container{
    .columns{
      padding-left: 0.3rem;
      padding-right: 0.3rem;
    }
<<<<<<< HEAD
=======
    @media screen and (max-width: 600px){
      .columns{
        padding-left: 0.9rem;
        padding-right: 0.9rem;
      }
    }
>>>>>>> 16e64621fc0acf95fcb269b2b7db92bc80802a0d
    .photo{
      border-radius: 80px;
    }
    .hi{
      font-size: 2em;
    }
    .user{
      font-size: 1.2em;
    }
  }
  .container-cuenta{
    background-color: #fbfbfb;
    padding: 20px;
    text-align: center;
    h3{
      font-size: 1.4em;
    }
    .kokoripesos{
      font-size: 4em;
      font-family: 'BlockBE-Condensed';
    }
    .fecha{
      color: $red;
    }
    .vencidos, .recent{
      span{
        color: $red;
      }
    }
  }
<<<<<<< HEAD
=======
  img.banner{
    margin-bottom: 16px;
  }
>>>>>>> 16e64621fc0acf95fcb269b2b7db92bc80802a0d
}