.path-restaurantes {
  ul {
    list-style: none;
  }
}

.section-menu, .section-promociones {
  h4 {
    text-transform: uppercase;
    font-size: 1.1em;
  }
  .content--to-link{
    a{color: #000;}
  }
  .field-price {
    font-family: 'BlockBE-Regular';
    font-style: normal;
    font-weight: 400;
    color: $red;
    font-size: 1.2em;
    line-height: 12px;
  }
  .field-label {
    text-transform: uppercase;
    font-size: 0.75em;
  }
  .producto {
    min-height: 400px;
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 0px solid #E3E3E3;
    .columns { 
      padding-left: 0.4rem;
      padding-right: 0.4rem;
    }
  }
  @media screen and (max-width: 600px) {
    .producto {
      border-bottom: 1px solid #E3E3E3;
    }
  }
  .taxonomy-term--type-categoria-de-producto {
    h3 {
      color: #EC333B;
      font-size: 33px;
      text-transform: uppercase;
      font-family: 'BlockBE-Condensed';
      font-style: normal;
      font-weight: 400;
    }
  }
  .field-taxonomy-term--description{
    p{
      text-transform: initial;
      color: $oil;
    }
  }
  .field-name-field-legal-combo{
    .field-item{
    font-size: 10px;
    line-height: 12px;
    }
  }
}
