
#views-exposed-form-restaurantes-page-1 {
  text-align: center;
  select {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 600;
    text-transform: uppercase;
    background: #FFF;
    margin: 40px auto;
    max-width: 75rem !important;
    width: 40%;

    option {
      font-family: 'Lato';
      font-style: normal;
      font-weight: 400;
      text-transform: uppercase;

    }
  }
  @media screen and (max-width: 600px) {
    select {
      width: 90%;
      padding-left: 0.9375rem;
      padding-right: 0.9375rem;
      margin: 20px auto;
    }
  }
  label {
    font-family: 'BlockBE-Condensed';
    font-style: normal;
    font-weight: 400;
    color: $color-title;
    font-size: 50px;
    text-transform: uppercase;
    text-align: center;
  }
  @media screen and (max-width: 600px) {
    label {
      font-size: 30px;
    }
  }
}

.path-restaurantes {
  .body-wrapper {
    .views-field-title {
      .field-content {
        font-weight: 600;
        text-transform: uppercase;
      }
    }
  }
  .body-wrapper {
    .row {
      margin: 0;
      max-width: 100%;
    }
    #main {
      padding: 0;
    }
  }
  #block-kokoriko-theme-content {
    .row {
      margin: 0 auto;
      max-width: 75rem !important;
      width: 100%;
    }
  }
}
ul.row.restaurantes {
  text-align: left;
}
@media screen and (max-width: 600px){
  ul.row.restaurantes {
    text-align: center;
  }
}
.geolocation-common-map{
  margin-top: 80px;
}
.views-field-body, .views-field-field-horario{
  font-size: 0.9em;
  color: $oil;
}
.views-field-body p{
  font-size: 0.9em;
  color: $oil;
}
.views-field-field-horario{
  display: inline-flex;
  .field-content {
    margin-left: 10px;
  }
}