<div class="acompañamientos row">
  <div class="columns">
    <div class="large-4 medium-4 columns active large-offset-1">
      <div>
        <span>8 Presas</span>
        <h3>$ 24.900</h3>
      </div>
    </div>
    <div class="large-3 medium-3 columns container">
      <div>
        <span class="number">2</span><br>
        <span class="text">Acompañamientos</span>
        <h3>$ 24.900</h3>
      </div>
    </div>
    <div class="large-3 medium-3 columns container end">
      <div>
        <span class="number">3</span><br>
        <span class="text">Acompañamientos</span>
        <h3>$ 24.900</h3>
      </div>
    </div>
  </div>
</div>
