#block-kokoriko-theme-page-title{
  padding: 70px 0 70px 0px;
  h1{
    text-align: center;
    //font-size: 90px;
    color:$white;
  }
}
@media screen and (max-width: 600px) {
  #block-kokoriko-theme-page-title{
    padding: 40px 0 0px 0px;}
}

// #block-views-block-banner-block-1{
//   padding: 0;
//   background-image: url('/themes/contrib/kokoriko_theme/images/brush-slide.png');
// }
#block-imagendestacada{
  //position: absolute;
  padding: 0;
  //background-image: url('/themes/contrib/kokoriko_theme/images/brush-slide.png');
  .field-name-field-imagen-de-fondo{
    img{
      width: 100%;
      max-height: 955px;
    }
  }
  .field-name-field-imagen-bottom{
    img{
      position: absolute;
      bottom: -1px;
      width: 100%;
    }
  }
}
@media screen and (max-width: 600px){
  #block-imagendestacada{
    margin-top: 90px;
    background-color: $black;
  }
}

#block-kokoriko-theme-branding{
    // max-width: 209px;
    float: left;
    padding: 0 9px;

}


#block-views-block-para-chuparse-los-dedos-block-1{
  margin-bottom: 70px;
  h3{
    font-size: 20px;
    font-weight: 700;
    max-width: 253px;
    margin: 0 auto;
    line-height: 22px;
    min-height: 60px;
  }
  li{
    margin-bottom: 30px;
    border-bottom: 0px solid $red;
    padding-bottom: 50px;
  }
  @media screen and (max-width: 600px) {
    li{
      margin-bottom: 30px;
      border-bottom: 1px solid $red;
      padding-bottom: 50px;
    }
  }
  }
  .price{
      .field{
        text-align: center;
      }
      .field-price{
        font-size: 35px;
        color:$red;
        line-height: 1em;

      }
      .field-label{
        text-transform: uppercase;
        letter-spacing: -1px;
      }
  }
  .more-link{
    text-align: center;
    a{
      display: inline-block;
      background: $black;
      color:$white;
      text-transform: uppercase;
      padding: 10px 10px;
      font-size: 24px;

    }
  }
  h2.block-title {
    padding: 0 10%;
  }
  .views-field-field-image {
    margin-bottom: 16px;
  }



#block-acomulakokoripesos{
  padding: 40px 0;
  //text-align: right;
  .more-link{
    text-align: right;
    margin: 20px;
    a{
      display: inline-block;
      background: $color-title;
      color:$white;
      text-transform: uppercase;
      padding: 10px 10px;
      font-size: 25px;
      padding: 10px 51px;
    }
  }
}


#block-views-block-domicilios-block-1{
  padding: 72px 0 113px 0px;
  color: $white;
  text-transform: uppercase;
}



#block-views-block-domicilios-block-1{
  h2{
    color: $white;
    text-align: left;
    padding-left: 0.9375rem;
  }
  .views-field-field-telefono{
    h4{
      text-align: right;
    }
  }
  li{
    list-style: none;
    h4{
      text-transform: uppercase;
      color:$white;
      font-weight: 600;
      font-size: 18px;
      padding: 2px 0;

    }
  }
  .domicilio {
    margin: 9px 0;
  }
}


#block-views-block-domicilios-block-1{
  h2{
    &::before{content: ""}
    &::after{content: ""}
  }
  ul{
    margin:0;
    li{
      margin:0;
    }
    div{
      margin: 0;
    }
  }
}

#block-contactenos{
  h2{
    text-align: left;
    padding-left: 0.9375rem;
  }
  @media screen and (max-width: 600px) {
    h2{
      text-align: center;
      padding-left: 0rem;
    }
  }
  .mailto{
    color:$color-title;
    &hover{
      color:$color-title;
    }
  }
  input,textarea{
    background: #f6f6f6;
    border: solid 1px #e2e2e2;
  }
  .webform-button--submit{
    background-color: $black;
    color: $white;
    font-family: 'BlockBE-Condensed';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    padding: 3px 35px;
    text-transform: uppercase;
  }
   .webform-actions{
      text-align: right;
   }
  .text-left {
    text-align: left !important;
  }
  @media screen and (max-width: 600px) {
    .text-left {
      text-align: center !important;
    }
  }
  .form-item-acepto-politica-de-tratamiento-de-datos-personales, .form-item-permito-que-me-suscriban-a-noticias-y-promociones {
    padding-left: 0.9em;
    display: inline-flex;
  }
}
#block-logokokorikofooter{
  text-align: center;
  padding: 45px;
}

#block-kokoriko-theme-footer{
  padding: 42px 42px 0 42px;
}

.block-kokoriko-theme-footer{
  float: none!important;
  ul{
    list-style: none;
    margin: 0 auto;

    width: 100%;
    text-align: center;
    li{
      display: inline-block;
      padding: 0px 30px;
      text-transform: uppercase;
    }
    @media screen and (max-width: 600px) {
      li{
        display: none;
      }
    }
  }
}

#block-formularioexpuestomenupage-1-2{
  .fieldset-legend{
      color: $color-title;
      font-size: 33px;
      text-transform:uppercase;
      font-family: 'BlockBE-Condensed';
      font-style: normal;
      font-weight: 400;

  }
  // label{
  //   text-transform: uppercase;
  //   font-family: "Lato", sans-serif;
  //   font-style: normal;
  //   font-weight: normal;
  //   font-weight: 600;
  // }

  input[type=checkbox] {
		position:absolute; z-index:-1000; left:-1000px; overflow: hidden; clip: rect(0 0 0 0); height:1px; width:1px; margin:-1px; padding:0; border:0;
	}

	input[type=checkbox] + label {
		padding-left:28px;
		height:17px;
		display:inline-block;
		line-height:17px;
		background-repeat:no-repeat;
		background-position: 0 0;
		font-size:14px;
		vertical-align:middle;
		cursor:pointer;

	}

		input[type=checkbox]:checked + label {
			background-position: 0 -17px;
		}
		label {
      margin: 15px 0;
      text-transform: uppercase;
      font-family: "Lato", sans-serif;
      font-style: normal;
      font-weight: normal;
      background-image: url(/themes/contrib/kokoriko_theme/images/checkbox.png);
			-webkit-touch-callout: none;
			-webkit-user-select: none;
			-khtml-user-select: none;
			-moz-user-select: none;
			-ms-user-select: none;
			user-select: none;
		}
}

#block-accompaniments{
  bottom: -590px;
  div{
    text-align: center;

    span{
      color: #FFFFFF;
      font-family: 'Lato';
      font-style: normal;
      font-weight: bold;
      font-size: 33px;
      text-transform: lowercase;
      display: inline-block;
    }
    h3{
      font-family: 'BlockBE-Condensed';
      font-style: normal;
      font-weight: 400;
      color: $color-title;
      font-size: 65px;
      display: inline-block;
      width: 100%;
      line-height: 0.8;
    }
  }
  .text{
    font-size: 16px;
    text-transform: uppercase;
  }
  .number{
    font-size: 26px;
  }
  .container{
    background-color: rgba(236, 51, 59, 0.38);;
    h3{
      color:$white;
      font-size: 48px;
    }
  }
  .active {
    background-color: rgba(0, 0, 0, 0.68);
  }
}

.social-media-links--platforms{
  ul {
    margin-left: 0rem;
    margin-bottom: 0rem;
  }
}
ul.social-media-links--platforms.platforms.inline.horizontal{
  margin-bottom: 0rem;
}
.social-media-links--platforms.horizontal li {
  padding: .2em 1em;
}

//Pasos
.pasos{
  color: $white;
  padding: 60px 0;
  h2{
    margin-bottom: 40px;
    color: $white;
  }
  .paso{
    margin-top: 20px;
  }
  .container-paso{
    min-height: 250px;
  }
}


//inicias session

.layout__region--second{
  background-color: $color-title;
  #edit-submit{
    background-color: $black;
    margin:0;

  }
  .field-label{
    font-family: 'BlockBE-Condensed';
        font-style: normal;
        font-weight: 400;
        text-transform: uppercase;
        font-size: 60px;
        color: white;
        text-align: center;
        padding-top: 41px;
    }
  form#user-login-form {
      text-align: center;
      padding: 16px 72px;
    .create-account-link{
      display: none;
    }
  }
  #edit-actions{
    background-color: $black;

  }

  ul{
    list-style: none;
    display: inline-block;
    min-width: 100%;
    margin: 0 auto;
    padding: 0px 43px;
    li{
      min-width: 50%;
      display: inline-block;
      text-align: center;
    }
  }
}
#facebook-register{
  color:$white;
  text-align: center;

  .facebook-wrapper{
    background-color: $color-title;
    padding: 47px 72px 4px 72px;
    a{
      display: inline-block;
      background-color: #1f4794;
    }
    .facebook-bottom{
    border: solid 1px;
    background: #1f4794;
    padding: 8px;
    font-size: 17px;
    font-weight: 700;
    margin: 16px 0;
    }


  }
  .drupal-wrapper-center{
    padding: 30px 72px 61px 72px;

  }
  .drupal-wrapper{
    background-color: $black;
    a{
      font-family: 'BlockBE-Condensed';
    font-style: normal;
    font-weight: 400;
    text-transform: uppercase;
    font-size: 24px;
    color: white;
    text-align: center;
    padding-top: 15px;
    display: inline-block;
    background-color: #EC333B;
    min-width: 100%;
    }


  }
  .info-text{
    text-transform: uppercase;
  }

  a{
    text-transform: uppercase;
  }

  .text{
    div{
    margin-top: 20px;
    }
  }
}
li.producto {
  list-style: none;
}
.section-kokoripesos{
  .layout__region--second{
    margin-bottom: 40px;
  }
}
.location-content{
 .posted, .field-name-field-coordenadas{
    display: none;
  }
  h2.node-title{
    font-size: 1.4em;
    color: $red;
    text-align: left;
    font-family: "Lato", sans-serif;
    a{
      color: $red;
      font-family: "Lato", sans-serif;
    }
  }
  .field-node--body{
    p{
      margin-bottom: 0;
      font-size: 0.9em;
    }
  }
}

//REGISTRO

.user-register-form, .user-pass, .user-login-form{
  padding: 0 20%;
  .description{
    font-size: 0.8em;
    color: #999999;
    margin-bottom: 16px;
  }
}

@media screen and (max-width: 600px){
  .user-register-form, .user-pass{
    padding: 0 2%;
  }
}
.user-pass{
  text-align: center;
}
.password-strength__title, .password-confirm, #edit-user-picture-0-upload{ 
  font-size: 0.9em;
}
section#block-kokoriko-theme-local-tasks {
  .button-group{
    display: none;
  }
}

#block-views-block-banner-block-1 {
    //background-image: url(/themes/contrib/kokoriko_theme/images/brush-slide.png);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: 100%;
    padding: 0;
    div.owl-item{
      width: 100%;
    }

}
