.main-menu{
      margin: 23px 0;
}

#block-kokoriko-theme-main-menu{
  display: inline-block;
  ul{
    li{
      float: left;
      list-style: none;
      a{
        text-transform: uppercase;
        font-weight: 700;
        padding: 27px 28px;

      }
      a.is-active{
        background-image: url('/themes/contrib/kokoriko_theme/images/menu-active.png');
        background-position: 1px 16px;
        background-repeat: no-repeat;
      }
    }
  }
}
