// .main-menu{
//       padding: 0px;
// }
//
// .menu-region{
//   display: inline-block;
//   position: absolute;
//   padding: 24px 0 0 0;
//   margin: 0 auto;
//   max-width: 75rem;
//   width: 100%;
//   div{
//     // display: inline-block;
//     // width: 100%;
//     // margin: 0 auto;
//     }
// }

#block-kokoriko-theme-main-menu, #block-navegacionprincipal-2{
  display: inline-block;
  padding: 13px 0;
  ul{
    li{
      float: left;
      list-style: none;
      a{
        text-transform: uppercase; 
        font-weight: 700;
        padding: 10px 10px;
        margin-left: 25px;
        font-size: 1em;
        letter-spacing: 1px;

      }
      a.is-active{
        background: $red;

      }
    }
  }
}
ul.menu.nav-bar{
  float: right;
}
#superfish-main-toggle{
  span{
    display: none;
  }
} 
div.sf-accordion-toggle.sf-style-black a {
  background: none;
  border: 1px solid #000;
  color: #ffffff;
  display: inline-block;
  font-weight: bold;
  padding: 1em 0em 0em 0em;
  position: absolute;
  font-size: 2em;
  float: right;
  top: 0px;
}
li#main-standardfront-page-accordion{
  margin-top: 20px;
}
ul.sf-menu.sf-style-black li:hover, ul.sf-menu.sf-style-black li.sfHover, ul.sf-menu.sf-style-black a:focus, ul.sf-menu.sf-style-black a:hover, ul.sf-menu.sf-style-black span.nolink:hover {
  background: $red;
  color: #ffffff;
}


.no-background{
  background: none!important;
}


.is-sticky {
  z-index: 10;
  position: relative;
  width: 100%;
  #block-headergroupmenu {
    padding-top: 10px;
    background-color: #0000008c;
    left: 0;
    right: 0;
    width: 100%!important;
    margin: 0 0 60px 0;
  }
}