// Non-modular or client styles for .l-footer region.
footer{
  // margin: 0 0 0 0 !important;
  // max-width: 100% !important;
}

#footer-first{
    background-color: $black;
}

#footer-meddle{
  background: url("/themes/contrib/kokoriko_theme/images/brush-1.png") $color-title;
  background-position: bottom;
  background-repeat: no-repeat;
}

#footer-last{
    background-color: $white;

}
#footer-end{
  padding: 100px 0 0 0;
}

#footer{
  background: url("/themes/contrib/kokoriko_theme/images/brush-2.png") $color-title;
  background-position: top;
  background-repeat: no-repeat;
  height: 350px;
}
