// Non-modular or client styles for .l-footer region.
footer{
  // margin: 0 0 0 0 !important;
  // max-width: 100% !important;
}

#footer-first{
    background-color: $black;
}
.path-frontpage{
  #footer-first{
      background-color: #000000;
      background: url(/themes/contrib/kokoriko_theme/images/bg-kokoripesos.jpg) no-repeat fixed 0 0 transparent;
      background-size: cover;
    #footer-first{
      background-image: none;
    }
  }
}


#footer-meddle{
  background: url("/themes/contrib/kokoriko_theme/images/brush-1.png") $color-title;
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: 100%
}

#footer-last{
    background-color: $white;

}
#footer-end{
  padding: 100px 0 0 0;
}

#footer{
  background: url("/themes/contrib/kokoriko_theme/images/brush-2.png") $color-title;
  background-position: top;
  background-repeat: no-repeat;
  background-size: 100%;
  padding-bottom: 40px;
}
 
.copyright{
  color: $white;
    text-align: center;
    padding: 0px 42px 0 42px;
}

.block-socialmedialinks-2{
  bottom: 68px;
}
@media screen and (max-width: 600px){
  .block-socialmedialinks-2{
    bottom: 0px;
  }
}