// Non-modular or client styles for .l-header region.
//
.header{
  background-color: $black;
  position: relative;
  &:after{
    position: absolute;
    content: "";
    width: 100%;
    height: 100px;
    background-image: url(/themes/contrib/kokoriko_theme/images/brush-slide.png);
    background-repeat: repeat-x;
    bottom: 0;
  }
  .banner{
    margin-top: 0px;
  }
  @media screen and (max-width: 600px){
    .banner{
      margin-top: 50px;
    }
  }
}

.not-frontpage{
  .header{
    background-image: url(/themes/contrib/kokoriko_theme/images/header-pages.jpg);
    background-size: cover;
    background-position: bottom;
    background-color: $white;
    &:after{
      background-image: none;
    }
  }
  @media screen and (max-width: 600px) {
    .header{
      background-image: none;
      background-color: $black;
    }
  }
  .row.sub-wrapper {
    margin-bottom: 40px;
  }
}

.sub-wrapper{
  position: relative;
}

.path-frontpage .sub-header{
  position: absolute;

}

.sub-header{
  margin: 20px 0 60px 0;
}
.row.sub-wrapper {
  margin-bottom: 0px;
}