#block-domiciliosblock {
    top: 10%;
    background-color: $white;
    display: inline-block;
    position: absolute;
    left: -320px;
    float: left!important;
    padding: 0; 

}

app-addresses, #block-domicilios-block{
    height: 296px;
    padding: 28px 0;
    background: white;
    max-width: 100px;
    position: fixed;
    top: 300px;
  .image{
    text-align: center;
    margin-bottom: 80px;

  }
  .text{
    transform: rotate(-90deg);
    a{
      font-family: 'BlockBE-Condensed'; 
      font-style: normal;
      font-weight: 400;
      font-size: 35px;
      color:$color-title;
      }
    }
    .wrapper-block{
      position: relative;
    }
  }
