<div class="facebook-register" id="facebook-register">
  <div class="facebook-wrapper">
    <span class="info-text">ó ingrese usando su cuenta de facebook</span>
    <div class="">
      <span></span>
      <div class="facebook-bottom"><a href="/user/simple-fb-connect">iniciar sesión en facebook</a></div>
    </div>
  </div>

  <div class="drupal-wrapper">
    <div class="drupal-wrapper-center">
      <span class="info-text">¿aun no estas registrado?</span>
      <div class="text">
        <span>Loren ipsum de liamsu fosoau sockksyq <br> cisut uscliona</span>
        <div><a href="/user/register">Registrese</a></div>
      </div>
    </div>
  </div>
</div>
