<div id="cuenta">
    <!--Hola + Botones de usuario-->
    <div class="row user-container">

        <div class="medium-4 columns">
            <div class="row">
                <div class="small-4 columns">
                    <img src="/themes/contrib/kokoriko_theme/images/default-user.jpg" alt="" class="photo">
                </div>

                <div class="small-8 columns text-align-left">
                    <div class="hi">HOLA</div>
                    <div class="user">Ginna Paola Delgado</div>
                </div>
            </div>
        </div>

        <div class="columns medium-7">
            <div class="botones">
                <a href="#" class="button account">¿Cómo funciona?</a>
                <a href="#" class="button account">Actualizar datos</a>
                <a href="#" class="button account">Cerrar sesión</a>
            </div>
        </div>
    </div>
    <!--Hola + Botones de usuario-->


    <!--Banner central-->
    <div class="row hide-for-small-only">
        <div class="columns medium-12">
            <img src="/themes/contrib/kokoriko_theme/images/banner-kkp.jpg" alt="" class="banner">
        </div>
    </div>
    <!--Banner central-->

    <!--Estado de cuenta-->
    <div class="row">
        <!--Navegador izquierda-->
        <div class="columns medium-4">
            <div class="container-cuenta">
                <h3>Estado de cuenta</h3>
                <hr>
                <div class="fecha">Septiembre 20 de 2018</div>
                <div>Tienes disponibles</div>

                <div class="kokoripesos">25.000</div>
                <img src="/themes/contrib/kokoriko_theme/images/kokoripesos-red.png" alt="" class="text-center">
                <hr>
                <div class="vencidos"><span>1.050 Kokoripesos </span> por vencer</div>
                <div class="fecha">Septiembre 20 de 2018</div>
                <hr>
                <div class="recent">Ultima redención: <span>Septiembre 20 de 2018</span></div>
                <div class="recent">Ultima acumulación: <span>Septiembre 20 de 2018</span></div>
            </div>
        </div>
        <!--Navegador izquierda-->

        <!--Tabla derecha-->
        <div class="columns medium-8">

            <ul class="tabs hide-for-small-only" data-tab>
                <li class="tab-title active"><a href="#panel1">Redime tus Kokoripesos</a></li>
                <li class="tab-title"><a href="#panel2">Kokoripesos acumulados</a></li>
                <li class="tab-title"><a href="#panel3">Listado de mis redenciones</a></li>
            </ul>
            <div class="menu-cuenta show-for-small-only">
                <select>
                    <option value="">Redime tus Kokoripesos</option>
                    <option value="">Kokoripesos acumulados</option>
                    <option value="">Listado de mis redenciones</option>
                </select>
            </div>
            <div class="tabs-content">
                <div class="content active" id="panel1">
                    <div class="row text-center">
                       <div class="container-redimir">
                           <div class="medium-12 columns">
                               <div class="redimir">Ingresa el valor que deseas redimir</div>

                               <div class="row">
                                   <div class="medium-12 columns">
                                       <div class="row collapse">
                                           <div class="small-8 medium-10 columns">
                                               <input type="text" placeholder="Ingrese el monto a redimir">
                                           </div>
                                           <div class="small-4 medium-2 columns">
                                               <a href="#" class="button postfix">Redimir</a>
                                           </div>
                                       </div>
                                   </div>
                               </div>
                               <div class="note">El cupón con el valor redimido será enviado a su correo electrónico</div>
                           </div>
                       </div>
                    </div>
                </div>
                <div class="content" id="panel2">
                    <table border="1" width="100%">
                        <thead>
                        <tr>
                            <th>FECHA FACTURA</th>
                            <th>N° FACTURA</th>
                            <th>RESTAURANTE</th>
                            <th>VR. FACTURA</th>
                            <th>KOKORIPESOS</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>03/11/2017</td>
                            <td>T57-210301</td>
                            <td>Diver Plaza Alamos Bogotá</td>
                            <td>$10200</td>
                            <td>102</td>
                        </tr>
                        <tr>
                            <td>03/11/2017</td>
                            <td>T57-210301</td>
                            <td>Diver Plaza Alamos Bogotá</td>
                            <td>$10200</td>
                            <td>102</td>
                        </tr>
                        <tr>
                            <td>03/11/2017</td>
                            <td>T57-210301</td>
                            <td>Diver Plaza Alamos Bogotá</td>
                            <td>$10200</td>
                            <td>102</td>
                        </tr>
                        <tr>
                            <td>03/11/2017</td>
                            <td>T57-210301</td>
                            <td>Diver Plaza Alamos Bogotá</td>
                            <td>$10200</td>
                            <td>102</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="content" id="panel3">

                </div>
            </div>


        </div>
        <!--Tabla derecha-->
    </div>
    <!--Estado de cuenta-->


</div>