<div id="cuenta">
    <!--Hola + Botones de usuario-->
    <div class="row user-container">

        <div class="medium-4 columns">
            <div class="row">
                <!--<div class="small-4 columns">
                    <img src="{{user.user_picture}}" alt="" class="photo">
                </div>-->

                <div class="small-12 columns text-align-left">
                    <div class="hi">HOLA</div>
                    <div class="user">{{user.field_nombres}} {{user.field_apellidos}}</div>
                </div>
            </div>
        </div>

        <div class="columns medium-7">
            <div class="botones">
                <a href="#block-comofunciona" id="menu-como" class="button account">¿Cómo funciona?</a>
                <a href="/user/{{user.uid}}/edit" class="button account">Actualizar datos</a>
                <a href="/user/logout" class="button account">Cerrar sesión</a>
            </div>
        </div>
    </div>
    <!--Hola + Botones de usuario-->


    <!--Banner central-->
    <div class="row hide-for-small-only">
        <div class="columns medium-12">
            <img src="/themes/contrib/kokoriko_theme/images/banner-kkp.jpg" alt="" class="banner">
        </div>
    </div>
    <!--Banner central-->

    <!--Estado de cuenta-->
    <div class="row">
        <!--Navegador izquierda-->
        <div class="columns medium-4">
            <div class="container-cuenta">
                <h3>Estado de cuenta</h3>
                <hr>
                <div class="fecha"></div>
                <div>Tienes disponibles</div>

                <div *ngIf="getTotalPoints() else elseKokoripesos" [innerHTML]=getTotalPoints() class="kokoripesos"> </div>
                <ng-template #elseKokoripesos>Cargando...</ng-template>
                <img src="/themes/contrib/kokoriko_theme/images/kokoripesos-red.png" alt="" class="text-center">

                <hr>
                <div *ngIf="getPointsOvercome() else elseOvercome" [innerHTML]=getPointsOvercome() class="kokoripesos"> </div>
                <ng-template #elseOvercome>--</ng-template>

                <div class="vencidos"><span>{{getPointsOvercome()}} Kokoripesos </span> por vencer</div>
                <div class="fecha"> {{getDate() | date: 'mediumDate'}}</div>
                <hr>
                <div class="recent">Última redención:   <span>{{ getRedemptionLast() | date}}</span></div>
                <div class="recent">Última acumulación: <span>{{ getInvoiceLast()    | date}}</span></div>
            </div>
        </div>
        <!--Navegador izquierda-->

        <!--Tabla derecha-->
        <div class="columns medium-8">

            <ul class="tabs hide-for-small-only" data-tab>
                <li class="tab-title active"><a href="#panel1">Redime tus Kokoripesos</a></li>
                <li class="tab-title"><a href="#panel2">Kokoripesos acumulados</a></li>
                <li class="tab-title"><a href="#panel3">Listado de mis redenciones</a></li>
            </ul>
            <div class="menu-cuenta show-for-small-only">
                <select>
                    <option value="">Redime tus Kokoripesos</option>
                    <option value="">Kokoripesos acumulados</option>
                    <option value="">Listado de mis redenciones</option>
                </select>
            </div>
            <div class="tabs-content">
                <div class="content active" id="panel1">
                    <div class="row text-center">
                       <div class="container-redimir">
                           <div class="medium-12 columns">
                               <div class="redimir">Ingresa el monto que deseas redimir</div>

                               <div class="row">
                                   <div class="medium-12 columns">
                                       <div class="row collapse" *ngIf="getTotalPoints()">
                                            <form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
                                              <div class="small-8 medium-10 columns">
                                                <input type="hidden" formControlName="entity_id">
                                                <input type="text" formControlName="value" required placeholder="Ingresa los kokoripesos a redimir">
                                              </div>
                                              <div class="small-4 medium-2 columns">
                                                <button type="submit" class="redemption-submit" [disabled]="!profileForm.valid">Redimir</button>
                                              </div>
                                            </form>
                                       </div>
                                   </div>
                               </div>
                               <div *ngIf="redemption?.message">
                                     <span class="success" [innerHTML]="redemption?.message"></span>
                               </div>
                               <div *ngIf="errors">
                                     <span class="error" *ngFor="let error of errors.value"[innerHTML]="error"></span>
                               </div>
                               <div class="note">El cupón con el valor redimido será enviado a su correo electrónico</div>
                           </div>
                       </div>
                    </div>
                </div>
                <div class="content" id="panel2">
                    <table border="1" width="100%">
                        <thead>
                        <tr>
                            <th>FECHA FACTURA</th>
                            <th>N° FACTURA</th>
                            <th>RESTAURANTE</th>
                            <th>VR. FACTURA</th>
                            <th>KOKORIPESOS</th>
                        </tr>
                        </thead>
                        <tbody *ngIf="incentives?.invoices">
                        <tr *ngFor="let invoice of incentives?.invoices">
                            <td>{{invoice.invoice_date_up}}</td>
                            <td>{{invoice.invoice_code}}</td>
                            <td>{{invoice.restaurant_code}}</td>
                            <td>$ {{invoice.value}}</td>
                            <td>102</td>
                        </tr>
                        <div *ngIf="!incentives?.invoices">
                           No se han encontrado datos.
                        </div>

                        </tbody>
                    </table>
                </div>
                <div class="content" id="panel3">
                  <table border="1" width="100%">
                      <thead>
                        <tr>
                            <th>FECHA DE REDENCIÓN</th>
                            <th>CÓDIGO</th>
                            <th>VALOR</th>
                        </tr>
                      </thead>
                      <tbody *ngIf="incentives?.redemptions">
                        <tr *ngFor="let redemption of incentives?.redemptions">
                            <td>{{redemption.created_at}}</td>
                            <td>{{redemption.token}}</td>
                            <td>$ {{redemption.value}}</td>
                        </tr>
                        <div *ngIf="!incentives?.invoices">
                           No se han encontrado datos.
                        </div>
                      </tbody>
                  </table>
                </div>
            </div>


        </div>
        <!--Tabla derecha-->
    </div>
    <!--Estado de cuenta-->


</div>
