
// Common abstract classes to extend or parametrics are stored here.

// Example parametrics.
// ------------------------------------------------------
// %font-FONTNAME   {}
// %font-sans-serif { font-family: sans-serif; }
// %font-serif      { font-family: serif; }

body{
  // background-color: #000;
}


a {
  color:$white;
}


// section#block-kokoriko-theme-content {
//     display: none;
// }

h1{
 text-transform: uppercase;
}
h2{
  text-transform: uppercase;
  text-align: center;
  color: $color-title;
  //font-size: 85px;
  &::before{
    font-family: 'kokoriko';
    font-style: normal;
    font-weight: 400;
    content: '\E800';
  }
  &::after{
    font-family: 'kokoriko';
    font-style: normal;
    font-weight: 400;
    content: '\E801';
  }
}

h3{
  text-transform: uppercase;
  text-align: center;

}


.style-none {
  list-style: none;
}
