
// Common abstract classes to extend or parametrics are stored here.

// Example parametrics.
// ------------------------------------------------------
// %font-FONTNAME   {}
// %font-sans-serif { font-family: sans-serif; }
// %font-serif      { font-family: serif; }

body{
  // background-color: #000;
}


a {
  color:$white;
  &:hover{
    color:$white;

  }
}


// section#block-kokoriko-theme-content {
//     display: none;
// }
 
h1{
 text-transform: uppercase;
}
h2{
  text-transform: uppercase;
  text-align: center;
  color: $color-title;
  line-height: 1em;
}

h3{
  text-transform: uppercase;
  text-align: center;

}


.style-none {
  list-style: none;
}
.button{
  text-transform: uppercase;
  margin: 20px 0;
  font-family: 'BlockBE-Condensed';
  font-size: 1.4em;
  &.account{
    border-radius: 30px;
    margin-left: 10px;
  }
}
